.reset-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-password-container form {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.error-message {
    color: red;
    font-size: 12px;
}

h2 {
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.success-message {
    color: green;
    font-size: 12px;
}