<div class="create-task-container">
    <form (ngSubmit)="onSubmit()">
        <h2>{{task.id ? 'Update Task' : 'Create New Task'}}</h2>

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" [(ngModel)]="task.title" required>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" [(ngModel)]="task.description" required></textarea>
        </div>

        <div class="form-group">
            <label for="dueDate">Due Date:</label>
            <input type="date" id="dueDate" name="dueDate" [(ngModel)]="task.dueDate" required>
        </div>

        <div class="assignee-priority-container">
            <div class="form-group" style="width: 50%;">
                <label for="assignee">Assignee:</label>
                <select id="assignee" name="assignee" [(ngModel)]="task.assignee" required class="select-input">
                    <option value="" disabled selected>Select Assignee</option>
                    <option *ngFor="let user of users" [value]="user.username">{{ user.username }}</option>
                </select>
            </div>

            <div class="form-group" style="width: 50%;">
                <label for="priority">Priority:</label>
                <select id="priority" name="priority" [(ngModel)]="task.priority" required class="select-input">
                    <option value="" disabled selected>Select Priority</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
            </div>
        </div>

        <div class="button-group">
            <button type="submit" class="submit-btn">{{task.id ? 'Update Task' : 'Create
                Task'}}</button>
            <button type="button" class="cancel-btn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>