<div class="login-container">
    <form (ngSubmit)="onLogin()">
        <h2>Login</h2>
        <div>
            <label for="username">Username:{{user}}</label>
            <input type="text" id="username" [(ngModel)]="user" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        <p class="login-link">
            Don't have an account? <a routerLink="/register">Register here</a>
        </p>
    </form>
</div>